:root {
  --color-bg: rgb(26, 26, 46);
  --color-fg: rgb(233, 69, 96);
  --color-text: rgb(204, 214, 246);
  --color-text-1: rgba(204, 214, 246, 0.1);
  --color-text-2: rgba(204, 214, 246, 0.6);
  --font-logo: "Secular One", sans-serif;
  --font-main: "Manrope", sans-serif;
  --font-sec: "Roboto Mono", monospace;
}

/* Utilities */

.bold {
  font-weight: bold;
}

.color-fg {
  color: var(--color-fg);
}

.font-sec {
  font-family: var(--font-sec);
}

.inline {
  display: inline-block;
}

.underline {
  text-decoration: underline;
}

/* general */

html {
  /* overflow-y: overlay; */
  /* margin-left: calc(100vw - 100%); */
  /* margin-right: 0; */
}

body {
  background-color: var(--color-bg);
  font-size: 25px;
  font-family: var(--font-main);
  color: var(--color-text);
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 100px;
  font-weight: normal;
  margin: 0;
}

h2 {
  color: var(--color-fg);
  font-size: 40px;
  font-weight: normal;
  margin: 55px 0px 10px 0px;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

/* top bar */

.navbar {
  display: flex;
  justify-content: space-between;
  margin-right: calc(100% - 100vw + 50px);
}

.logo {
  background-color: var(--color-fg);
  color: var(--color-bg);
  box-sizing: border-box;
  width: 75px;
  height: 75px;
  line-height: 75px;
  padding-top: 2px;
  font-family: var(--font-logo);
  font-size: 60px;
  text-align: center;
}

.links {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-sec);
  list-style: none;
}

.links > li {
  box-sizing: border-box;
}

.links > li > a {
  color: inherit;
  text-decoration: none;
  margin: 5px;
  padding: 10px 20px;
  border-radius: 3px;
  box-sizing: border-box;
}

.links > li > a:hover {
  background-color: var(--color-text-1);
}

.selected {
  color: var(--color-fg) !important;
}

/* content */

.root {
  padding: 10px;
}

.content {
  margin: 50px auto;
}

.content-about {
  width: 850px;
}

.content-resume {
  width: 875px;
}

.content-projects {
  width: 875px;
}

button > svg {
  fill: var(--color-fg);
}

.icon-svg {
  display: inline-table;
  vertical-align: middle;
  fill: var(--color-text-2);
  transition: 0.3s;
}

.icon-svg:hover {
  fill: var(--color-fg);
  transform: translate(0, -5px);
}

.btn {
  background-color: var(--color-fg);
  color: var(--color-bg);
  font-family: var(--font-sec);
  font-size: 30px;
  width: 250px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.02, 1.02);
  box-shadow: 0 0 10px 1px var(--color-fg);
}

.duration {
  display: inline-flex;
  justify-content: space-between;
  width: 700px;
}

.space-bottom {
  margin-bottom: 15px;
}

.space-horizontal {
  margin-right: 15px;
  margin-left: 15px;
}

.gallery {
  width: 850px;
}

.gallery > div > ul > * {
  margin: 0 20px;
}
